.container{
    display: flex;
    height: 350px;
    padding: 50px;
    margin: 50px;
    border-width: 5px 10px;
    border-style: solid;
    border-color: black;
    justify-content: center;
    align-items: center;
}

.child1 {
    border-width: 5px 10px;
    border-style: solid;
    border-color: yellow;
    width: 80px;
    height: 50px;
}